<!doctype html>
<html>
<head>
    <title>X Music</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
  <p id="slidIn">Thanks for checking this out make sure to follow my GitHub</p>
<div class="container">

    <div class="jumbotron text-center">
        <h1 id="header">R.I.P X</h1>
        <img src="http://cdn.gelestatic.it/kataweb/tvzap/2018/06/xxx-tentacion-1000-1000x400.jpg" alt="X Picture">

        <p>If you to write something about X while listening to Sad just Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
